@import "tailwindcss";

/* En Tailwind 4, esto resetea las variables y temas por defecto */
@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Forzamos la limpieza del fondo */
:root {
  background-color: #ffffff !important;
  background-image: none !important; 
  color: #000000;
}

body {
  background-color: #ffffff !important;
  background-image: none !important;
  min-height: 100vh;
}